<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4> Warrior, It is the time you should Choose Your Characters  </h4>
    <button> <a href="/wizard"> Wizard</a></button>
    <button> <a href="/samurai"> Samurai</a></button>
    <button> <a href="/archer"> Archer</a></button>

</body>
</html>