
@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
    <form asp-action="Register" asp-controller="Home" method="post">

        <span asp-validation-for="UserName"></span>
        <label asp-for="UserName"></label>
        <input asp-for="UserName">
        <p></p>

        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <p></p>

        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password">
        <p></p>

        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm">
        <p></p>

        <button >Submit</button>
    </form>
    </div>
    <hr>
    <partial name="login.cshtml">

</body>
</html>